@charset "utf-8";

/* font setting
 * Referenced: https://qiita.com/tsuka-rinorino/items/b30e03ce10aa38ac2a10
 */
@font-face {
    font-family: "Original Yu Gothic";
    src: local("Yu Gothic Medium");
    font-weight: 100;
  }
  @font-face {
    font-family: "Original Yu Gothic";
    src: local("Yu Gothic Medium");
    font-weight: 200;
  }
  @font-face {
    font-family: "Original Yu Gothic";
    src: local("Yu Gothic Medium");
    font-weight: 300;
  }
  @font-face {
    font-family: "Original Yu Gothic";
    src: local("Yu Gothic Medium");
    font-weight: 400;
  }
  @font-face {
    font-family: "Original Yu Gothic";
    src: local("Yu Gothic Bold");
    font-weight: bold;
  }

  body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Hiragino Sans", "Noto Sans CJK JP", "Original Yu Gothic", "Yu Gothic", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Sans Emoji";
  }

body {
	margin: 0px;
	padding: 0px;
	-webkit-text-size-adjust: none;
	color: #555;
    /* font-size: 16px;	 */
	line-height: 2;
	background: #fff;
}

h1,h2,h3,h4,h5,p,ul,ol,li,dl,dt,dd,form,figure,form {
	margin: 0px;
	padding: 0px;
	font-size: 100%;
	font-weight: normal;
}

img {
	border: none;
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}

table {
	border-collapse:collapse;
	font-size: 100%;
	border-spacing: 0;
}

iframe {
	width: 100%;
}

a {
	/* color: #666;	*/
	color:rgba(0,101,128,1);
	transition: 0.3s;
}

a:hover {
	color: #b4ae99;
}



#container {
	max-width: 1200px;
	margin: 0px auto;
	padding-top: 5em;
}

/*
 * Memu bar
 */
.site-header{
	position: fixed;
	width: 100%;
	background: #292929;
    display: flex;
    padding: 5px 0px;
    position: fixed;
    justify-content: space-between;
	width: 100%;
	z-index: 99;
}

.site-header h1{
	font-weight: bold;
	color: #fff;
	font-size: 120%;
	margin-left: 1em;
}

nav#menubar{
	margin: auto 1em auto auto;
}

#menubar {
	text-align: center;
	font-size: 100%;
}

#menubar li {
	display: inline;
}

#menubar li a {
	color:rgb(0, 146, 187);
	text-decoration: none;
	padding: 0px 10px;
}

#menubar li a:hover
,#menubar li a.current
{
	color: #ebe6d6;
}

#nav_toggle{
	display: none;
}

@media screen and (max-width: 870px) {
	nav#menubar{
		/* display: none; */
		visibility: hidden;
		opacity: 0;
		position: absolute;
		/* top:72px; */
		top:50px;
		/* top: 1em; */
		width: 100%;
		/* background: #292929; */
		background-color: rgba(41, 41, 41, 0.90);
		left: 0;
		transition:
    		opacity     .1s linear .1s,
    		visibility  .1s linear .1s;
	}
	#menubar li a {
		padding: 8px 10px;
	}
	header nav ul{
		display: block;
		margin: 0 auto;
		width: 90%;
	}
	header nav ul li{
		margin: 0 auto;
		text-align: center;
		border-bottom: 1px solid #fff;
	}
	header nav ul li:last-child{
		border: none;
	}
	header nav ul li a{
		display: block;
	}

	header.site-header.open > nav#menubar{
		opacity: 1;
		visibility: visible;
		transition:
    		opacity     .1s linear .1s,
    		visibility  .1s linear .1s;
	}
}

@media screen and (max-width: 870px){
	#nav_toggle{
		display: block;
		width: 40px;
		height: 40px;
		position: relative;
		top: 5px;
		z-index: 100;
		margin-right: 1em;
	}
	#nav_toggle div {
		position: relative;
	}
	#nav_toggle span{
		display: block;
		height: 3px;
		background: #fff;
		position:absolute;
		width: 100%;
		left: 0;
		-webkit-transition: 0.5s ease-in-out;
		-moz-transition: 0.5s ease-in-out;
		transition: 0.5s ease-in-out;
	}
	#nav_toggle span:nth-child(1){
		top:0px;
	}
	#nav_toggle span:nth-child(2){
		top:12px;
	}
	#nav_toggle span:nth-child(3){
		top:24px;
	}

	.open #nav_toggle span:nth-child(1) {
			top: 12px;
		   -webkit-transform: rotate(135deg);
			-moz-transform: rotate(135deg);
			transform: rotate(135deg);
		}
	.open #nav_toggle span:nth-child(2) {
		width: 0;
		left: 50%;
	}
	.open #nav_toggle span:nth-child(3) {
		top: 12px;
		-webkit-transform: rotate(-135deg);
		-moz-transform: rotate(-135deg);
		transform: rotate(-135deg);
	}
}

/* fix jump postion */
section#cv,
section#research,
section#publication,
section#publication_japanese,
section#publication_others,
section#link
{
    display: block;
    padding-top: 3em;
    margin-top: -3em;
}



#publication ol,
#publication ul,
#publication_japanese ol,
#publication_japanese ul,
#publication_others ol,
#publication_others ul,
#link ul
{
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 15px;
	list-style-position: inside;
}

ol.pub_list{
	/* counter-reset: cnt; */
	list-style-type: none;
}

ol.pub_list li.pub_year{
    margin-top: 0.3em;
}

ol.pub_list:not(.jsena_pub_list) li:not(.pub_year){
    list-style-type: circle;
}

ol.jsena_pub_list li:not(.pub_year)::before{
    counter-increment: cnt -1;
    content: "[" counter(cnt) "] ";
}

/* ol.reversedorder li:not(.pub_year)::before {
	counter-increment: cnt -1;
	content: "[" counter(cnt) "] ";
}  */

ol.incrementorder li:not(.pub_year)::before {
	counter-increment: cnt;
	/* content: "[" counter(cnt) "] "; */
}


#publication li,
#publication_japanese li,
#publication_others li
{
	padding-bottom: 0.5em;
	line-height: 1.6;
}

/* justified */
#publication li,
#publication_japanese li,
#publication_others li,
#research p,
#sitepolicy p
{
    text-align: justify;
    text-justify: inter-ideograph;
}


#contents h2 {
	clear: both;
	margin-top: 15px;
	margin-bottom: 15px;
	/* color: #fff; */
	padding: 5px 10px;
	margin-left: 10px;
	margin-right: 10px;
	/* background: #87ceeb; */
	/* border-radius: 10px; */
	font-weight: bold;
    border-bottom: 1.5px solid #ccc;
    font-size: 125%;
}



#contents h3 {
	clear: both;
	padding: 3px 20px;
	background: #fff;
    font-weight: bold;
    font-size: 100%;
}

#contents h4 {
	clear: both;
	font-weight: bold;
	background: #fff;
	padding: 0px 0px 0px 0px;
}

#contents p {
    padding: 0px 20px 10px;
    line-height: 1.7;
}

#contents h2 + p,
#contents h3 + p {
	margin-top: -5px;
}

/*
 * C.V.
 */
#cv dl, #cv ul{
	padding: 3px 20px;
}

#cv dl dl{
	padding: 3px 0px;
}

#cv dl > dt{
  float: left;
  /* clear: left; */
  width: 12em; /*220px;*/
}
#cv dl > dd{
  /* float: left; */
  margin-left: 12em;
}

#cv dl dd dt{
	/* float: left; */
	/* margin-left: 2em; */
	width: 8em;
}

#cv dl dd dd{
	/* float: left; */
	margin-left: 8em;
	/* width: 5em; */
}

@media screen and (max-width: 870px) {
	#cv dl > dd{
		margin-left: 1em;
	}
	#cv dl > dt{
		float: none;
  }
	#cv dl dd dd{
		margin-left: 1em;
	}
}

#link ul {
    list-style-type: circle;
}

/*
* research
 */

 #contents div.research_projects{
    padding: 0px 20px 14px;
}

#contents div.research_projects > div:nth-child(n+2){
    padding-top: 14px;
    border-top: 1.5px solid #ccc;
}
#contents div.research_projects > div{
    display: flex;
    justify-content: center;
    align-items: center;
}

#research .videobox {
    text-align:left;
}

#contents div.research_projects h4 {
    font-size: 100%;
    clear: both;
	font-weight: bold;
    padding: 0px 20px 0px;
}

/* #contents #research > h4 {
    font-size: 100%;
    clear: both;
	font-weight: bold;
    padding: 0px 20px 0px;
} */

#contents div.research_projects h5 {
    clear: both;
	padding: 0px 20px;
    font-weight: bold;
    font-size: 100%;
}

#contents div.research_projects ul {

    padding: 0px 20px 14px;
    list-style-position: inside;
}

#contents div.research_projects p {
    padding-right: 0px;
}


#contents div.research_projects div > div:nth-of-type(1){
    /* display: flex; */
    /* display: inline-block; */
    flex: 0 0 25%;
    /* padding-left: 20px; */
    /* width: 30%; */
    /* height: 20em; */
}

#contents div.research_projects div > div:nth-of-type(2){
    /* display: flex; */
    /* display: inline-block; */
    flex: 0 0 75%;
    /* padding-right: -20px; */
    /* text-align:center; */
    /* width: 60%; */
}

#research video {
    width: 95%;
}

@media screen and (max-width: 870px) {
    #contents div.research_projects > div{
        display: block;
    }
    #research .videobox {
        text-align:center;
        /* width: 50%; */
    }
    #research video {
        width: 50%;
    }
    #contents div.research_projects h4 {
        padding-left: 0px;
    }

    #contents div.research_projects h5 {
        padding-left: 0px;
    }

    #contents div.research_projects p {
        padding-right: 20px;
        /* padding-left: 0px; */
    }
    #contents div.research_projects > div:nth-child(n+2){
        /* padding-top: 14px; */
        border-top: none;
    }
}


/*
 * for paper
 */
.me {
	text-decoration: underline;
	font-weight: bold;
}

.award::before {
	display        : inline-block;
	content        : "AWARD";
	background     : #ff0000;
	color          : #ffffff;
	font-weight    : bold;
	font-size      : 10pt;
	letter-spacing : -1px;
	line-height    : 1;
	vertical-align : top;
	margin         : 0;
	padding        : 2px;
	transform      : scale(0.7)
					 translateX(10%);
}

.award a{
	color: #666;
}

.invite::before {
	display        : inline-block;
	content        : "INVITE";
	background     : #ff0000;
	color          : #ffffff;
	font-weight    : bold;
	font-size      : 10pt;
	letter-spacing : -1px;
	line-height    : 1;
	vertical-align : top;
	margin         : 0;
	padding        : 2px;
	transform      : scale(0.7)
					 translateX(10%);
}


/*
 * for footer
 */
footer {
	clear: both;
	text-align: center;
	padding: 50px 0px 0px;
}

footer { /* #link fix */
	margin-bottom: 50em;
}

footer a {
	text-decoration: none;
	border: none;
}
footer .pr {
	display: block;
}

/*
** Multi Lang
**/
#contents .jp {
	display: inline;
	/* visibility: visible; */
	/* opacity: 1; */
	/* display: no; */
}

#contents .jp_block {
	display: block;
}

#contents .togglevisibility.jp
, #contents .togglevisibility.jp_block
{
	display: none;
	/* visibility: collapse; */
	/* opacity: 1; */
	/* display: no; */
}

#contents .en
, #contents .en_block
{
	display: none;
	/* visibility: collapse; */
	/* opacity: 0; */
	/* display: no; */
}

#contents .togglevisibility.en{
	display: inline;
	/* visibility: visible; */
	/* opacity: 0; */
	/* display: no; */
}

#contents .togglevisibility.en_block{
	display: block;
}

.multilang > div{
    display: inline-block;
    width: 50%;
}

.trans{
	/* font-weight: bold; */
	/* color: #fff; */
	/* background: #ebe6d6; */
	display: inline-block;
	/* font-size: 100%; */
	/* margin: auto 1em auto 0em; */
	/* margin-right: 1em; */
	/* margin-left: 0em; */
	width: 50%;
    text-align: right;
    /* float:right; */
    font-size: medium;
    /* position: absolute; */
    /* right: 0; */
    /* bottom: 0.2em; */
    vertical-align: middle;
}

.trans .en_button {
	color: #bfbfbf;
	cursor : pointer;
}

.trans .jp_button {
	cursor : pointer;
	color: #666;
}

.trans .en_button.togglevisibility {
	color: #666;
}

.trans .jp_button.togglevisibility {
	color: #bfbfbf;
}

/* .trans .en {
	color: #666;
	cursor : pointer;
}

.trans .jp {
	cursor : pointer;
	color: #ffffff;
}

.trans .en.togglevisibility {
	color: #ffffff;
}

.trans .jp.togglevisibility {
	color: #666;
} */
