@charset "utf-8";

body {
	margin: 0px;
	padding: 0px;
	-webkit-text-size-adjust: none;
	color: #666;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	/* font-size: 16px;	 */
	line-height: 2;
	background: #fff;
}

h1,h2,h3,h4,h5,p,ul,ol,li,dl,dt,dd,form,figure,form {
	margin: 0px;
	padding: 0px;
	font-size: 100%;
	font-weight: normal;
}

img {
	border: none;
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}

table {
	border-collapse:collapse;
	font-size: 100%;
	border-spacing: 0;
}

iframe {
	width: 100%;
}

a {
	/* color: #666;	*/
	color:rgba(0,101,128,1);
	transition: 0.3s;
}

a:hover {
	color: #b4ae99;
}



#container {
	max-width: 1200px;
	margin: 0px auto;
	/* margin: 50px auto; */
	/* padding: 100px; */
	padding-top: 5em;
}


.site-header{
	position: fixed;
	/* text-align: right; */
	width: 100%;
	background: #292929;
    /* background: #fff; */
    display: flex;
    /* padding: 60px 20px; */
    padding: 5px 0px;
    position: fixed;
    justify-content: space-between;
	width: 100%;
	z-index: 99;
}

/* .site-header h1{
	font-weight: bold;
	color: #fff;
	font-size: 80%;
} */
.site-header h1{
	font-weight: bold;
	color: #fff;
	font-size: 120%;
	margin-left: 1em;
}

/*メニュー全体を囲むブロック*/
#menubar {
	text-align: center;
	/* font-size: 14px; */
	font-size: 100%;
	/* margin-bottom: 40px; */
	/* overflow: hidden; */
}

/*メニュー１個あたりの設定*/
#menubar li {
	display: inline;
}

#menubar li a {
	color:rgb(0, 146, 187);
	text-decoration: none;
	padding: 15px 10px;
}

#menubar li a:hover
,#menubar li a.current 
{
	color: #ebe6d6;
	/* border-bottom: 4px solid #87ceeb; */
}
/*マウスオン時、現在表示中、の設定*/
/* #menubar li a:hover */
/* ,#menubar li.current a  */
/* {
	color: #87ceeb;
	border-bottom: 4px solid #87ceeb;
} */

/* #menubar li a:visited {
	color: #666;
	text-decoration:none;
} */

section#cv,
section#research,
section#publication,
section#publication_japanese,
section#link
{
    display: block;
    padding-top: 3em;
    margin-top: -3em;
}

#publication ol,
#publication_japanese ol {
	padding-left: 40px;
	padding-bottom: 15px;
}

#contents h2 {
	clear: both;
	margin-top: 15px;
	margin-bottom: 15px;
	/* color: #fff; */
	padding: 5px 20px;
	/* background: #87ceeb; */
	/* border-radius: 10px; */
	font-weight: bold;
	border-bottom: 2px solid #ccc;
}
/* #contents h2 {
	clear: both;
	margin-bottom: 15px;
	color: #fff;		
	padding: 5px 20px;
	background: #87ceeb;
	border-radius: 10px;
	font-weight: bold;
} */

#contents h3 {
	clear: both;
	/* margin-bottom: 15px; */
	padding: 3px 20px;	/*上下、左右への余白*/
	background: #fff;	/*背景色*/
	/*border: 1px solid #ccc;*/	/*枠線の幅、線種、色*/
	/*border-radius: 10px;*/
	font-weight: bold;
}

#contents h4 {
	clear: both;
	/* margin-bottom: 15px; */
	font-weight: bold;
	/* padding: 3px 20px;	上下、左右への余白 */
	background: #fff;	/*背景色*/
	/*border: 1px solid #ccc;*/	/*枠線の幅、線種、色*/
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px -20px;
	/*border-radius: 10px;*/
}

#contents p {
	padding: 0px 20px 14px;
}

#contents h2 + p,

#contents h3 + p {
	margin-top: -5px;
}


#cv dl, ul{
	padding: 3px 20px;
}

#cv dl dl{
	padding: 3px 0px;
}

#cv dl > dt{
  float: left;
  /* clear: left; */
  width: 12em; /*220px;*/
}
#cv dl > dd{
  /* float: left; */
  margin-left: 12em;
}

#cv dl dd dt{
	/* float: left; */
	/* margin-left: 2em; */
	width: 8em;
}

#cv dl dd dd{
	/* float: left; */
	margin-left: 8em;
	/* width: 5em; */
}



/* 論文用
----------------------------------------------------------------------*/
.me {
	text-decoration: underline;
	font-weight: bold;
}

/* .menuList > div:nth-child(2)::after { */
.award::before {
	display        : inline-block;
	content        : "AWARD";
	background     : #ff0000;
	color          : #ffffff;
	font-weight    : bold;   
	font-size      : 10pt;           
	letter-spacing : -1px;           
	line-height    : 1;              
	vertical-align : top;            
	margin         : 0;              
	padding        : 2px;            
	transform      : scale(0.6)      
					 translateX(20%);
  }

.award a{
	color: #666;
}


/*フッター
----------------------------------------------------------------------*/
footer {
	clear: both;
	text-align: center;
	padding: 50px 0px 0px;
}
footer a {
	text-decoration: none;
	border: none;
}
footer .pr {
	display: block;
}